*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(project-4.jpg) no-repeat center center /cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 60%;
    height: 250px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 3px;
}
#timer{
    width: 100%;
    text-align: center;
    font-size: 72px;
    margin: 0 auto;
    padding: 35px;
}
.buttons{
    text-align: center;

}
button{
    border: none;
    padding: 0 10px;
}
button i{
    font-size: 2rem;
    padding: 10px;
    color: #fff;
    width: 50px;
}
#play{
    background-color: rgb(64, 139, 64);
}
#reset{
    background-color: red;
}
#pause{
    background-color: orange;
}